.Task {
    border: 2px solid #3a36ff;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.Task p {
    display: inline-block;
    float: left;
    margin-left: 40px;
}
.Task span {
    position: absolute;
    top: 16%;
    right: 2%;
}